*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial;
    padding: 10px;
}

.b-hr{
    border: 2px solid #000;
}

.header
{
    display: block;
   
    
}

.headline 
{
    border: 1px solid seagreen;
}

.headsport h1
{   
    margin: 0;
    font-size: 20vh;
    color: rgb(2, 92, 97);
    font-weight: 900;
    text-align: center;
    border: 1px solid salmon;
}
header 
{
    margin: 0;
    padding: 10px;
    display: flex;
    
    
}

.container
{
    padding: 20px;
}

.leftcol
{
    float: left;
    width: 75%;
    
}

.leftcol img
{
    width: 100%;
    
}

.leftcol1
{
    float: left;
    width: 100%;
    display: flex;
    margin-top: 0;
}

.leftcol p
{
    text-align: justify;
}

.rightcol
{
    float: left;
    width: 25%;
    padding-left: 20px;
    border-left: 2px solid black;
    
}

.rightcol p
{
    text-align: justify;
}


.footer{
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}


img{
	max-width: 100%;
	height: auto;
}

p{
	font-size: 1vw;
}

h1
{
    font-size: 3vw;
}

h2{
	font-size:2vw;
}


@media screen and (max-width: 800px: px){
	.leftcol, .rightcol, .leftcol1{
		width:100%;
		padding:0;
	}
}


@media screen and (max-width: 400px: px){
	.headline{
		width:100%;
		padding:0;
	}
}